# Assignment : Python - Data Structure

1. What are data structures, and why are they important?

Ans -> Data structures are ways to store and organize data so it can be used efficiently. They are important because they make data access, modification, and management faster and easier.

2.  Explain the difference between mutable and immutable data types with examples?

Ans -> Mutable: Can be changed after creation. Example: list, dict, set.

Immutable: Cannot be changed after creation. Example: tuple, str, int.

3. What are the main differences between lists and tuples in Python?

Ans -> List → Mutable, slower, uses more memory.

Tuple → Immutable, faster, uses less memory.

4. Describe how dictionaries store data?

Ans -> They store data as key-value pairs using a hash table internally.
5. Why might you use a set instead of a list in Python?

Ans -> Because sets remove duplicates automatically and allow faster lookups.

6. What is a string in Python, and how is it different from a list

Ans -> A string is a sequence of characters (immutable). A list is a collection of items (mutable).

7. How do tuples ensure data integrity in Python

Ans -> They are immutable, so their values can’t be changed accidentally.

8. What is a hash table, and how does it relate to dictionaries in Python?

Ans -> A hash table is a structure that maps keys to values using a hash function. Python dictionaries are built on hash tables.

9.  Can lists contain different data types in Python?

Ans -> Yes, lists can store integers, strings, objects, or even other lists together.

10. Explain why strings are immutable in Python?

Ans -> For safety, efficiency, and to make them hashable so they can be used as dictionary keys.

11. What advantages do dictionaries offer over lists for certain tasks?

Ans -> Dictionaries allow fast lookups by key, while lists require searching through elements.

12. Describe a scenario where using a tuple would be preferable over a list?

Ans -> When storing fixed data like GPS coordinates (28.7041, 77.1025) that should not change.

13. How do sets handle duplicate values in Python?

Ans -> They automatically remove duplicates and keep only unique values.

14.  How does the “in” keyword work differently for lists and dictionaries?

Ans -> List → Checks if the value exists.

Dictionary → Checks if the key exists.

15. Can you modify the elements of a tuple? Explain why or why not.

Ans -> No, because tuples are immutable.

16. What is a nested dictionary, and give an example of its use case?

Ans -> A dictionary inside another dictionary.
Example **students = {"John": {"age": 20, "grade": "A"}}**

17. Describe the time complexity of accessing elements in a dictionary?

Ans -> Average case: O(1) (very fast due to hash tables).

18. In what situations are lists preferred over dictionaries?

Ans -> When order matters, and you only need simple data without key-value pairing.

19. Why are dictionaries considered unordered, and how does that affect data retrieval

Ans -> Before Python 3.7, they didn’t store items in insertion order. Retrieval is by key, not position.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

Ans -> List → Retrieve by position (index).

Dictionary → Retrieve by key.

In [ ]:
#1.Write a code to create a string with your name and print it?
name = "Bhargav garg"
print(name)

Bhargav garg

In [ ]:
#2.Write a code to find the length of the string "Hello World"?


str = "Hello World"
print(len(str))

11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"?
text = "Python Programming"
print(text[:3])

Pyt

In [ ]:
#4.Write a code to convert the string "hello" to uppercase?
text = "hello"
print(text.upper())

HELLO

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"?
text = "I like apple"
print(text.replace("apple","orange"))

I like orange

In [ ]:
#6. Write a code to create a list with numbers 1 to 5 and print it?
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [ ]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]?
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
list = [1,2,3,4,5]
list.remove(3)
print(list)

8

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [ ]:
#10. Write a code to reverse the list [10, 20, 30, 40, 50].
list = [10,20,30,40,50]
list.reverse()
print(list)

[50, 40, 30, 20, 10]

In [ ]:
#11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
numbers = (100,200,300)
print(numbers)

(100, 200, 300)

In [ ]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

In [ ]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
numbers = (10,20,5,15)
print(min(numbers))

In [ ]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [ ]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

In [ ]:
#16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
letters = {'a', 'b', 'c'}
print(letters)

{'c', 'a', 'b'}

In [ ]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
numbers = {1,2,3,4,5}
numbers.clear()
print(numbers)

set()

In [ ]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
numbers = {1,2,3,4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

In [ ]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set6 = {1, 2, 3}
set7 = {2, 3, 4}
print(set6.intersection(set7))

{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {"name": "Bhargav", "age": 20, "city": "Delhi"}
print(person)

{'name': 'Bhargav', 'age': 20, 'city': 'Delhi'}

In [ ]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person["country"] = "USA"
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
print(person["name"])

Alice

In [ ]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person["age"]
print(person)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [ ]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list = [1,2,3,4]
print(list)
tuple = (1,2,3,4)
print(tuple)
dictionary = {"name": "Bhargav", "age": 20, "city": "Delhi"}
print(dictionary)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Bhargav', 'age': 20, 'city': 'Delhi'}

In [ ]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
#result.(replaced)
import random
numbers = [random.randint(1,100) for _ in range(5)]
numbers.sort()
print(numbers)

[57, 68, 71, 78, 81]

In [ ]:
#28. Write a code to create a list with strings and print the element at the third index.
list = ["apple", "banana", "cherry"]
print(list[2])

cherry

In [ ]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {"name": "Bhargav", "age": 20, "city": "Delhi"}
dict2 = {"name": "Bhargav", "age": 20, "city": "Delhi"}

In [ ]:
#30. Write a code to convert a list of strings into a set.
list = ["apple", "banana", "cherry"]
print(set(list))

{'apple', 'cherry', 'banana'}